{{> partials_header}}

<section class="contacts wrapper">
    <div class="left-partition"> 
       {{> partials_contact_labels}} 
       {{> partials_contact_form}}
       <div class="rolodex"></div>
    </div>   
    <div class="right-partition">
       {{> partials_contact_aside}} 
    </div>
      
</section>

{{> partials_footer}}