{{> partials_header}}
<section class="main img">  
    <div class="headline">
        <h1>{{page_index.header}}</h1>
        <input type="search" name="search" placeholder="Search">
        <p>{{{page_index.message}}}</p>  <!--HB escape tag so that string can be interpreted as html and not a literal string  -->
   </div>
</section>
{{> partials_about}}
{{> partials_footer}}