<div id="contact" class="container-fluid text-center bg-color">
  <h2>Meet The Team</h2><br>
  <h4>NJ Strong</h4>
  <div class="row text-center">
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="https://cdn.pixabay.com/photo/2018/03/11/08/47/dog-3216207_960_720.png" alt=" ">
        <p><strong>Name</strong></p>
        <p>Comment</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="https://cdn.pixabay.com/photo/2018/03/12/06/05/owl-3218837_960_720.png" alt=" ">
        <p><strong>Name</strong></p>
        <p>Comment</p>
      </div>
    </div>
   <div class="col-sm-4">
      <div class="thumbnail">
        <img src="https://cdn.pixabay.com/photo/2018/03/21/05/55/pig-3245668_960_720.png" alt=" ">
        <p><strong>Name</strong></p>
        <p>Comment</p>
      </div>
    </div>
   </div>
   <div class="row text-center">
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="https://cdn.pixabay.com/photo/2018/03/19/20/20/frog-3241108_960_720.png" alt=" ">
        <p><strong>Name</strong></p>
        <p>Comment</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="https://cdn.pixabay.com/photo/2018/03/14/05/42/monkey-3224416_960_720.png" alt=" ">
        <p><strong>Name</strong></p>
        <p>Comment</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="https://cdn.pixabay.com/photo/2018/03/16/23/55/hare-3232830_960_720.png" alt=" ">
        <p><strong>Name</strong></p>
        <p>Comment</p>
      </div>
    </div>
  </div>
  <br><button class="btn btn-default btn-lg">Get in Touch</button>
  </div>