@import url('https://fonts.googleapis.com/css?family=PT+Sans|Special+Elite');

html, body {
    color: #222;
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
    font-size: 12px;
}


/****************************
   Helper classes
/****************************
*
 * Hide visually and from screen readers.
 * The hidden class can be added to any element that you want to hide visually
 * and from screen readers. It could be an element that will be populated and
 * displayed later, or an element you will hide with JavaScript.
 */

.hidden {
    display: none !important;
}

/* As opposed to the `hidden` class that effectively removes the element from the
* layout, the `invisible` class will simply make the element invisible while
* keeping it in the flow and not affecting the positioning of the surrounding
* content. 
*/

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 * The `clearfix` class can be added to any element to ensure that it always fully
 * contains its floated children.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

html.error, html.error body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: #222;
    color:red;
    font-family: monospace;
    font-size: 24px;
}

html.error body {
    padding: 200px 20px 20px 20px;
}

html.error body::before {
    content: ':(';
    font-size: 80px;
    color: white;
    display: block;
    position: absolute;
    top: 20px;
    left: 20px;
}