footer {
	padding: 40px 50px;
	background-color: #d25c37;
	width: 100%;
	position: static;
	display: inline-block;
	align-items: center;
	font-size: 15px;
	max-height: 100px;
	box-sizing: border-box;
	margin: 0px;
	text-align: center;
}

/*responsive*/
@media only screen and (min-height: 1920px) {
    footer {
     position: static; 
	}
}
