footer {
	padding: 40px 50px;
	background-color: #d25c37;
	width: 100%;
	position: relative;
	bottom:0;
	display: inline-block;
	align-items: center;
	font-size: 15px;
	max-height: 100px;
	box-sizing: border-box;
	margin: 0px;
	text-align: center;
}

/* responsive */