footer {
	padding: 20px 50px;
	background-color: #d25c37;
	width: 100%;
	position: fixed;
	bottom:0;
	display: inline-block;
	align-items: center;
	font-size: 15px;
	max-height: 100px;
	box-sizing: border-box;
	margin: 0px;
	text-align: center;
}

footer .chevron {
	font-size: x-large;
	color: #d1ccc0;
	display: block;
}

/* responsive */