<!-- decoy html for slideshow template file -->
<!-- reference about template fragments: https://www.w3schools.com/tags/tag_template.asp -->
<div class="">
    <div>
        <img src="" alt="">
        <h3>slide 1 title</h3>
        <p>slide 1 description</p>
    </div>
</div>
<div class="">
    <div>
        <img src="" alt="">
        <h3>slide 2 title</h3>
        <p>slide 2 description</p>
    </div>
</div>
<div class="">
    <div>
        <img src="" alt="">
        <h3>slide 3 title</h3>
        <p>slide 3 description</p>
    </div>
</div>
