<form class="hidden">
      <ul>
        <li class="contact">
            <div class="container">
                <div class="form-table">
                    <div class="form-row">
                        <div class="form-cell">
                            <div class="contact-avatar">
                                <figure class="avatar">
                                    <img id="thumbnail" src="/assets/images/profile.png" alt="profile-avatar">
                                </figure>
                                <label class="btn btn-default btn-file btn-lg">
                                    <input id="avatar" type="file" name="avatar" class="form-control input-lg"> Browse..
                                </label>
                            </div>
                        </div>
                        <div class="form-cell">
                            <div class="contact-name">
                                <input type="text" name="name" class="form-control input-lg" placeholder="Enter name" required>
                            </div>
                        </div>
                        <div class="form-cell">
                            <div class="contact-phone">
                                <div>
                                    <input type="tel" name="phone" class="form-control input-lg" placeholder="Enter email" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-cell">
                            <div class="contact-email">
                                <div>
                                    <input type="email" name="email" class="form-control input-lg" placeholder="Enter phone#" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-cell">
                            <button type="submit" class="btn-light btn-lg">Submit</button>
                        </div>    
                    </div>
                </div>
            </div>
        </li>
    </ul>
</form>