<div class="rolodex">
    <ul class="list">
         <li class="contact">
            <div class="container">
                
                {{> partials_contact_details}}

            </div>
        </li>
    </ul>
  </div>  
</div>