html, body {
    font-size: 12px;
    color: #1a2a2d;
    overflow-y: auto;
    overflow-x: hidden;
    background-color:rgb(233, 233, 233);
}

.contacts.wrapper {
  width: 100%;
  text-align: center;

}
/* Main section  */
.contacts .left-partition {
    width: 75%;
    text-align:right;
    display: inline-block;
}
.contacts ul{
    list-style-type: none;
    padding-left: 0;
    display:inline-block;
        
}

.contacts ul.labels {
    margin-top: 120px;
}

/*Main section list header columns */
.contacts ul.header .container .col{
    margin-left:5px;
}

.contacts ul.header .col.controller{
    width: 200px; 
}
.contacts ul.header .container .col:first-child,
.contacts ul.header .container .col:last-child {
    margin-left:0;
}
.contacts ul.header .container .col:last-child {
    margin-left: 40px;
}

/*Main section form */

.contacts form.hidden {   
    visibility: hidden;
    height: 0px;
}

.contacts .form-table{

    display: table;
    width: 100%;
}

.contacts .form-row {
    display: table-row;
}

.contacts .form-cell {
    width: 20%;
    padding-right: 10px;
    display: table-cell;
    vertical-align: middle;   
}

.contacts .form-cell:first-child,
.contacts .form-cell:last-child{
    width: 15%;
}

.contacts form [type="file"] {
    display: none; 
}
.contacts form .contact {
    background-color: rgba(240, 248, 255, 0.4);
}


/* Main section contact list rows */
.contacts ul.header li
.contacts ul.list li {
    display: inline-block;
}

.contacts ul.list .container div {
    display: inline-block;
}

.contacts .contact {
    text-align: left;
    background-color: aliceblue;
    padding: 5px;
}


/* Main section  contact-items container */
.contacts .rolodex {
    overflow-x: hidden;
    text-align: center;
    display: inline-block;

}

.contacts ul.list {
    overflow-y: scroll;
    overflow-x: hidden;
    margin-right: -22px;
    height: 980px;
}

.contacts .contact a {
    font-weight: normal;
}

.contacts .avatar {
    margin-right: 15px;
    padding: 0;
}

.contacts .avatar img {
    height: 100px;
    width: 100px; 
}

.contacts .contact-avatar,
.contacts .contact-name,
.contacts .contact-phone,
.contacts .contact-email,
.contacts .contact-controls {
    padding: 30px 0;
    margin: 0;
    font-weight: normal;
}


/* Group container for the edit and delete buttons */
.contacts .controls {
    font-size: 25px;
}

/* Control buttons */
.contacts .controls .control-button {
    padding: 25px 25px 25px 0;
}
.contacts .controls .control-button.edit,
.contacts .controls .control-button.delete {
    background:none;
    border: none;
   
}

.contacts .controls .control-button.edit:focus,
.contacts .controls .control-button.delete:focus {
    outline: 0;
}

.contacts .controls .control-button.edit:hover {
    color: blue
}
.contacts .controls .control-button.delete:hover {
    color: red;
}
/* footer of contacts page */
.contacts + footer {
    position: static
}

/* Aside section */

.contacts .right-partition {
    width: 25%;
    float: right;
    height: 1200px;
}
.contacts aside {
    height: 75%;
    margin: 25% 0;
}

/* Aside section button */
.contacts .control-btn.add {
    position: fixed;
    top: 20%;
    right: 0;
    background-color: rgb(144, 238, 144);
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    transition: background-color 0.3s;
    padding: 25px;
    border: 1px solid rgb(144, 238, 144);
}

.contacts .control-btn.add:hover {
    background-color: rgba(0, 128, 0, 0.5);
}

.contacts .control-btn.add:focus,
.contacts .control-btn.add.active:focus {
    outline: none;
}
.contacts .control-btn.add:focus {
    animation: revertColor 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.contacts .control-btn.add.active:focus {
    background-color: yellowgreen;
    animation: changeColor 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.contacts .control-btn.add i {
    font-size: 50px;

}

@keyframes changeColor {
    0%   {background-color: rgba(0, 128, 0, 0.5);}
    100%   {background-color: yellowgreen;}
}

@keyframes revertColor {
    100%   {background-color: yellowgreen;}
    0%   {background-color: rgba(0, 128, 0, 0.5);}
}


/* responsive */

@media only screen and (max-width: 1080px) {
    .contacts.wrapper {
       padding: 0px;
       text-align: center;
    }
     
    .contacts .contact {
        width: 100%;
        text-align: center;
        display: block;
    }

    .contacts ul.list {
        margin-right:0;
    }

    .contacts ul.list,
    .contacts ul.list .container div {
        width:100%;
        padding:0;
    }

    .contacts .contact .avatar {
        width:100%;
        margin-right: 10px;
        text-align: center;
    }

    .contacts .contact .name {
        width: 30%;
        display: block;
    }

    .contacts .contact-phone,
    .contacts .contact-email {
        word-wrap: break-word;
        margin:0;
    }

    .contacts ul.list .controls {
        font-size: 25px;
        display: inline-block;
    }

    .contacts  ul.list .controls .control-button {
        width: 45%;
        margin-top: 20px;
        background-color: lightblue;
        position: initial;
    }
    
    .contacts .right-partition,
    .contacts aside {
        height: 220px;
    }

    .contacts .control-btn.add {
        top: 9%;
    }

}

@media only screen and (max-width: 800px) {
    
    .contacts ul {
        width: 100%;
    } 
    
    .contacts ul.labels{
        margin-top: 350px;
    }
    
    .contacts .contact {
        font-size: 15px;
    }

    
    .contacts .left-partition{
        display: block;
        width: 100%;
    } 
    

    .contacts .rolodex {
        width: 100%;
    }

    .contacts .right-partition,
    .contacts aside {
        height: 200px;
        width: 100%;
        
    }
    .contacts .right-partition {
        position: absolute;
        top: 0px;
    }
    
    .contacts .control-btn.add {
        background-color: rgba(144, 238, 144, 0.5);
        width: 100%;
        border-radius: 0;
        position: absolute;
        top: 150px;
    }
    .contacts .control-btn i {
        padding: 50px;
    }
}

@media only screen and (max-width: 500px) {
    
    .contacts div.form-table.labels {
        display: none;
        border: 1px solid red;
    }
    .contacts .form-cell {
        display: table-row;
    }
    .contacts .avatar img {
        height: 100%;
        width: 100%;
    }

}