html, body {
    font-size: 12px;
    color: #1a2a2d;
    overflow-y: auto;
    overflow-x: hidden;
    background-color:rgb(233, 233, 233);
}

.contacts.wrapper {
  width: 100%;
  text-align: center;

}

.contacts ul{
    list-style-type: none;
    padding-left: 0;
    display:inline-block;
        
}
.contacts ul.list {
    overflow-y: scroll;
    overflow-x: hidden;
    margin-right: -20px;
    height: 780px;
}

.contacts ul.labels {
    margin-top: 120px;
}
/* contact-list container */
.contacts .rolodex {
    overflow-x: hidden;
    text-align: center;
    display: inline-block;

}

/* Contact list item rows */
.contacts ul.header li
.contacts ul.list li {
    display: inline-block;
}

.contacts ul.list .container div {
    display: inline-block;
}

.contacts .contact {
    text-align: left;
    background-color: aliceblue;
    padding: 5px;
}

/* list header columns */
.contacts ul.header .container .col{
    margin-left:5px;
}

.contacts ul.header .col.controller{
    width: 200px; 
}
.contacts ul.header .container .col:first-child,
.contacts ul.header .container .col:last-child {
    margin-left:0;
}
.contacts ul.header .container .col:last-child {
    margin-left: 40px;
}


/*add contact form */
.contacts .form-table{

    display: table;
    width: 100%;
}

.contacts .form-row {
    display: table-row;
}

.contacts .form-cell {
    width: 20%;
    padding-right: 10px;
    display: table-cell;
    vertical-align: middle;   
}

.contacts .form-cell:first-child,
.contacts .form-cell:last-child{
    width: 15%;
}

.contacts form [type="file"] {
    display: none; 
}
.contacts form .contact {
    background-color: rgba(240, 248, 255, 0.4);
}

.contacts .contact a {
    font-weight: normal;
}

.contacts .avatar {
    margin-right: 15px;
    padding: 0;
}

.contacts .avatar img {
    height: 100px;
    width: 100px; 
}

.contacts .contact-avatar,
.contacts .contact-name,
.contacts .contact-phone,
.contacts .contact-email,
.contacts .contact-controls {
    padding: 30px 0;
    margin: 0;
    font-weight: normal;
}


/* Group container for the edit and delete buttons */
.contacts .controls {
    font-size: 25px;
}

/* Control buttons */
.contacts .controls .control-button {
    padding: 25px 25px 25px 0;
}

/* .contacts i.fas {
    width: 100%;
    height: 100%;
    padding: 25px;
} */

/* .contacts .add i.fas {
    margin: 0 30px;
} */
.contacts .controls .control-button.add {
    color: green;
}
.contacts .controls .control-button.add:hover {
    color: lightgreen;
}
.contacts .controls .control-button.edit:hover {
    color: blue
}
.contacts .controls .control-button.delete:hover {
    color: red;
}
/* footer of contacts page */
.contacts + footer {
    position: static
}

/* responsive */

@media only screen and (max-width: 1080px) {
    .contacts.wrapper {
       padding: 0px;
       text-align: center;
    }
     
    .contacts .contact {
        width: 100%;
        text-align: center;
        display: block;
    }

    .contacts ul.list,
    .contacts ul.list .container div {
        width:100%;
        padding:0;
    }

    .contacts .contact .avatar {
        width:100%;
        margin-right: 10px;
        text-align: center;
    }

    .contacts .contact .name {
        width: 30%;
        display: block;
    }

    .contacts .contact-phone,
    .contacts .contact-email {
        word-wrap: break-word;
        margin:0;
    }

    .contacts ul.list .controls {
        font-size: 25px;
        display: inline-block;
    }

    .contacts  ul.list .controls .control-button {
        width: 45%;
        margin-top: 20px;
        background-color: lightblue;
        position: initial;
    }
    
}

@media only screen and (max-width: 720px) {
    
    .contacts ul.labels{
        display: none;
    }
    
    .contacts form {
        margin-top: 25%;
    }
    
    .contacts .contact {
        font-size: 15px;
    }
    .contacts .avatar img {
        height: 100%;
        width: 100%;
    }
    .contacts .control-button i {

        padding: 50px;

    }

}


@media only screen and (max-width: 400px) {
    .contacts .form-cell {
        display: table-row;
    }
}