html, body {
    font-size: 12px;
	color: #1a2a2d;
	overflow-x: hidden;
	overflow-y: auto;
}

/*Reset*/
html, body, section, h1, .main, div, nav {
	margin: 0;
	padding: 0;
}

/*Welcome Page*/
section {
	height: 100%;
	width: 100%;
	background-color: #E8E8E8;
}

section.main.img {
	background: url(/assets/images/main-image-phone.jpg) no-repeat #e9e9e9;
    background-size: 90% 100%;
    display: inline-block;
	background-position: top right;
	height: 100%;
}
 
div.headline {
    width: 30%;
    text-align: center;
    font-size: 21px;
    margin: 14% auto;
}

.headline h1 {
	font-family: 'Special Elite', Arial;
	font-size: 75px;
	margin-bottom: 15px;
}

.headline input {
	margin-bottom: 30px;
	border: 0;
	border-radius: 12px;
	width: 100%;
	background-color: #d1ccc0;
	padding: 12px 20px; 
	font-size: 20px;
	text-align: center;
}

code {
	background-color: none;
	color: #1a2a2d;
	font-weight: 600;
}

/* responsive */

@media only screen and (max-width: 1024px) {
	section.main.img {
		background-size: 100%;
	}
}

@media only screen and (max-width: 460px) {

	section.main.img {
		background: url("/assets/images/main-image-phone.jpg") no-repeat #e9e9e9;
		background-size: 100%;
		display: inline-block;
	}

	div.headline {
		width: 100%;
		text-align: center;
		font-size: 18px;
		margin: 45% auto;
	}
}

