html, body {
    font-size: 12px;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	color: #1a2a2d;
}

/*Reset*/
html, body, section, h1, .main, div, nav {
	margin: 0;
	padding: 0;
}

/*Welcome Page*/
section {
	height: 100%;
	width: 100%;
	background-color: #E8E8E8;
	position: absolute; 
	top: 100px;
	left: 0;
}

section.main.img {
	background: url("/assets/images/main-image-phone.jpg") no-repeat;
	background-size: 100% 80%;
}
 
div.headline {
	height: 100%;
    width: 30%;
	position: absolute;
	text-align: left;
	top: 24%;
	left: 35%;
	font-size: 21px;
}

.headline h1 {
	font-family: 'Special Elite', Arial;
	font-size: 75px;
	margin-bottom: 15px;
}

.headline input {
	margin-bottom: 30px;
	border: 0;
	border-radius: 12px;
	width: 100%;
	background-color: #d1ccc0;
	padding: 12px 20px; 
	font-size: 20px;
	text-align: center;
}

code {
	background-color: none;
	color: #1a2a2d;
	font-weight: 600;
}
